/*Shared Styling*/

@import url('https://fonts.googleapis.com/css?family=Comfortaa');

.container-fluid{
	
}

.row {
	margin: 0px !important;
}

ul {
	list-style: none;
	padding: 0px;
}

li {
	display:inline-block;
}

img {
	display:inline-block;
}

a {
	text-decoration: none;
	color: #484848;
}

a:active {
	text-decoration: none;
	color: #669999;
}

a:hover {
	text-decoration: none;
	color: #669999;
}

/*Header styling*/

.content {
	margin: 0 auto;
	width: 80%;
}

.header-title {
	margin: 0 auto;
	width: 100%;	
}

.header-title a{
	color: #4fa540;
}

.header-nav{
	margin: 0 auto;
	width: 100%;
	
	
}

.header-nav li{
	padding-right:50px;
}

/*About styling*/

.about {
	margin-bottom: 10px;
}

.about p{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}


/*How to styling*/

.howto h2{
	text-align: center;
}

.howto li {
	display: block;
	font-size: 25px;
	font-family: 'Comfortaa', cursive;
	
}

/*Food menu styling*/

.food-menu {
	margin: 0 auto;
	width: 100%;	
}

#food-anchor{
	margin:0px;
}

.food-menu li{
	/*width:200px;
	padding-right: 10px;*/
}

.food-menu img{
	width:250px;
	height: auto;
}

.menu-desc {
	font-size: 10px;	
}

.food-menu p{
	width:200px;
}

/*Contacts*/


