/*Shared Styling*/

.container-fluid{
	
}

ul {
	list-style: none;
	padding: 0px;
}

li {
	display:inline-block;
}

img {
	display:inline-block;
}


/*Header styling*/

.header-title {
	margin: 0 auto;
	width: 1080px;
	padding-left:400px;
	
}

.header-nav{
	margin: 0 auto;
	width: 1080px;
	padding-left:250px;
	
}

.header-nav li{
	padding-right:50px;
}


/*Food menu styling*/

.food-menu {
	margin: 0 auto;
	width: 1080px;
	padding:0px 80px 0px 100px;
	
}


.food-menu li{
	padding-right:20px;
}

.menu-desc {
	font-size: 10px;	
}

p{
	overflow-wrap: break-word;
	width:200px;
}
